<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Splash Screen</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="full-screen">
  <div id="background-content" style="background: rgb(153, 150, 239) !important; left: auto !important; right: auto !important; top: auto !important; bottom: auto !important; position: static !important;">
    <div class="slider-container-wrapper">
      <div class="slider-container" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
        <div class="image-wrapper">
          <img [src]="images[currentIndex]" class="full-screen-image" />
          <p class="image-description-title">{{ imageDescriptionsTitle[currentIndex] }}</p>
          <p class="image-description">{{ imageDescriptions[currentIndex] }}</p> <!-- Texto descriptivo -->
        </div>
      </div>
      <div class="dots-container">
        <span *ngFor="let image of images; let i = index" [class.active]="i === currentIndex"
          (click)="onImageClick(i)"></span>
      </div>
      <br>
      <ion-item class="checkbox-container">
        <ion-checkbox class="checkbox" [(ngModel)]="skipSplash" (ionChange)="onCheckboxChange($event)">No mostrar
          nuevamente</ion-checkbox>
        <!--   <ion-label></ion-label> -->
      </ion-item>
      <br>
      <p class="skip-button" expand="full" (click)="continue()">Saltar introducción</p>
      <br>
    
    </div>
  </div>
  <div *ngIf="isDesktop" class="qr-section">
    <div class="app-promotion">
      <ion-card class="app-promotion-card">
        <img src="./assets/info_3.png" alt="image promotion" width="50%" srcset="">
        <p class="title">¡Conéctate, organiza y disfruta!</p>
        <p class="description">Descubre EasyMeet, la nueva plataforma para hacer realidad tus reuniones sociales. Ya sea para eventos,
          citas, festejos o simplemente para conocer gente nueva, ¡todo es posible!</p>
        <div class="app-links">
          <a href="https://play.google.com" target="_blank">
            <img src="./assets/googleplay.png" alt="Google Play" />
          </a>
          <a href="https://www.apple.com/app-store/" target="_blank">
            <img src="./assets/appstore.png" alt="App Store" />
          </a>
        </div>
        <p class="description">¡Descárgala ahora y empieza a crear experiencias inolvidables!</p>
      </ion-card>
    </div>
    <div class="qr-container">
      <p class="qr-title">¿Prefieres la versión web?</p>
      <p class="qr-description">¡Escanea el código QR y accede a nuestra plataforma desde cualquier dispositivo!</p>
      <img src="./assets/qr-code.png" alt="Código QR" class="qr-image" />
      <p class="qr-description">¡Es hora de comenzar nuevas aventuras sociales con</p> 
      <p class="qr-description" style="color:rgb(153, 150, 239); font-weight: 500;">¡EasyMeet!</p>
     <p class="footer-text">Powered by:  Neural Network Initiative (nni.ai) https://nni.ai</p>
    </div>
  </div>
</ion-content>