<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>{{translate('detalles-de-reunion')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{translate('detalles-de-reunion')}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido de la reunión -->
  <div class="reunion-info">
    <img [src]="selectedUser.enc_img ? selectedUser.enc_img : 'assets/no_image.png'" style="width: 100%; height: auto;">

    <ion-chip color="primary">
      <ion-label>{{selectedUser.titulo}}</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-label>{{selectedUser.interes}}</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-label>{{selectedUser.lugar}}</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-label>{{selectedUser.fecha}}</ion-label>
    </ion-chip>
    <ion-chip color="danger">
      <ion-label>{{selectedUser.views}} vistas</ion-label>
    </ion-chip>
  </div>

  <!-- Tabs -->
  <div class="tabs">
    <div class="tab" (click)="selectTab('pendientes')">{{translate('pendientes')}}</div>
    <div class="tab" (click)="selectTab('confirmados')">{{translate('confirmados')}}</div>
    <div class="tab" (click)="selectTab('cancelados')">{{translate('cancelados')}}</div>
  </div>

  <!-- Sección de asistentes -->
  <div class="asistentes">
    <div *ngIf="selectedTab === 'pendientes'">
      <ng-container *ngFor="let evento of eventos">
        <div *ngIf="evento.estatus === 'P'" class="user-card" (click)="openModal(evento.solicitud)">
          <img [src]="evento.usuario.avatar ? evento.usuario.avatar : '../../assets/profile.jpg'" alt="Perfil" class="user-image" />
          <div class="user-info">
            <p class="user-alias">{{ evento.usuario.alias }}</p>
          </div>
        </div>
      </ng-container>
    </div>

    <div *ngIf="selectedTab === 'confirmados'">
      <ng-container *ngFor="let evento of eventos">
        <div *ngIf="evento.estatus === 'A'" class="user-card" (click)="openModal(evento.solicitud)">
          <img [src]="evento.usuario.avatar ? evento.usuario.avatar : '../../assets/profile.jpg'" alt="Perfil" class="user-image" />
          <div class="user-info">
            <p class="user-alias">{{ evento.usuario.alias }}</p>
          </div>
        </div>
      </ng-container>
    </div>

    <div *ngIf="selectedTab === 'cancelados'">
      <ng-container *ngFor="let evento of eventos">
        <div *ngIf="evento.estatus === 'C'" class="user-card" (click)="openModal(evento.solicitud)">
          <img [src]="evento.usuario.avatar ? evento.usuario.avatar : '../../assets/profile.jpg'" alt="Perfil" class="user-image" />
          <div class="user-info">
            <p class="user-alias">{{ evento.usuario.alias }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>

<!-- Modal -->
<ion-modal [isOpen]="isModalOpen" (ionModalDidClose)="resetModal()" backdropDismiss="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ modalUser.usuario.alias }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="isModalOpen = false">{{translate('cerrar')}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="user-card">
        <img [src]="modalUser.usuario.avatar ? modalUser.usuario.avatar : '../../assets/profile.jpg'" alt="Perfil" class="user-image" />
        <p class="user-alias">{{ modalUser.usuario.alias }}</p>
      </div>
      <ion-button *ngIf="modalUser.estatus === 'P'" expand="full" color="danger" (click)="mostrarMotivoCancelacion = true">Cancelar</ion-button>
      <ion-textarea *ngIf="mostrarMotivoCancelacion" [(ngModel)]="motivoCancelacion" placeholder="Escribe el motivo de la cancelación"></ion-textarea>
      <ion-button *ngIf="mostrarMotivoCancelacion" expand="full" color="danger" (click)="cancelar(modalUser.solicitud, motivoCancelacion)">Confirmar Cancelación</ion-button>
      <ion-button *ngIf="modalUser.estatus === 'P'" expand="full" color="primary" (click)="confirmar(modalUser.solicitud)">Confirmar</ion-button>
      <ion-button *ngIf="modalUser.estatus === 'confirmado'" expand="full" color="success" (click)="contactar(modalUser.usuario.alias)">Contactar</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
