<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis intereses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="easy-meet-title" >Intereses</h2>
    <div class="intereses">
      <ion-button  class="easy-meet-selectible"
        *ngFor="let interes of intereses" 
        [class.selected]="interes.selected" 
        (click)="interes.selected = !interes.selected">
        {{ interes.name }}
      </ion-button>
    </div>
    <ion-button expand="block" (click)="saveInterests()">Guardar intereses</ion-button>
</ion-content>
