<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>{{translate('mis-intereses')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="easy-meet-title" >{{translate('intereses')}}</h2>
    <div class="intereses">
      <ion-button  class="easy-meet-selectible"
        *ngFor="let interes of intereses" 
        [class.selected]="interes.selected" 
        (click)="interes.selected = !interes.selected">
        {{ interes.name }}
      </ion-button>
    </div>
    <br>
    <br>
    
    <ion-button expand="block" (click)="saveInterests()">{{translate('guardar-intereses')}}</ion-button>
</ion-content>
