<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{translate('perfil')}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="content">
  <div class="content-container">
  <div class="profile">
    <div class="profile-picture-container" (click)="navigateToUserProperties()">
      <div class="background-shape"></div>
      <div class="profile-picture-container-2">
        <img src="{{userData.payload.uri_foto ? userData.payload.uri_foto : '../../../../assets/profile.jpg'}}" alt="Perfil" class="profile-picture">
    </div>
      <ion-icon name="create"></ion-icon>
    </div>
    <h2 class="easy-meet-title" style="color: white !important;font-size: 20px !important;margin-bottom: 30px; text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);">{{userData.payload.nombre}}</h2>
    <p class="easy-meet-subtitle">{{userData.payload.alias}}</p>

    <div class="logout-button-container">
     <!--  <ion-button color="warning" size="small" (click)="payment()">{{translate('premium')}}</ion-button> -->
      <ion-button color="medium" size="small" (click)="logout()">{{translate('cerrar-sesion')}}</ion-button>
    </div>
  </div>

  <div class="interests">
    <h3 class="easy-meet-title">{{translate('intereses')}}</h3>
    <ion-button fill="outline" icon-only (click)="navigateToCreateInterests()">
      <ion-icon name="create"></ion-icon>
    </ion-button>
  </div>




  
  <div class="assistance">
    <h3 class="easy-meet-title">{{translate('mis-asistencias')}}</h3>
    <div class="assistance-scroll">
      <ion-grid>
        <ion-row class="assistance-row">
          <ion-col size="6" *ngFor="let assist of myAssists"> <!-- Usar *ngFor para iterar sobre las asistencias -->
            <ion-card style="height: 200px;" (click)="navigateToAssistanceDetail(assist)">
              <img src="{{ assist.enc_img ? assist.enc_img : 'assets/no_image.png' }}" alt="Asistencia">
              <ion-card-header>
                <ion-card-title class="easy-meet-subtitle">{{ assist.titulo }}</ion-card-title> <!-- Asumiendo que cada asistencia tiene un título -->
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="meetings">
    <h3 class="easy-meet-title">{{translate('mis-reuniones')}}</h3>
    <div class="assistance-scroll">
      <ion-grid>
        <ion-row class="assistance-row">
          <ion-col size="6" *ngFor="let meeting of myMeetings"> 
            <ion-card style="height: 200px;" (click)="navigateToMeetingDetail(meeting)">
              <img src="{{ meeting.enc_img ? meeting.enc_img : 'assets/no_image.png' }}" alt="Reunión">
              <ion-card-header>
                <ion-card-title class="easy-meet-subtitle">{{ meeting.titulo }}</ion-card-title> 
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-button expand="full" color="primary" class="create-meeting-button" (click)="navigateToCreateMeeting()">{{translate('crear-reunion')}}</ion-button>
</div>
</ion-content>
