.content {
    padding: 16px;
  }
  
  .content-container{
    margin: 10px;
    }
  .profile {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: white solid 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  }

  .btn {
    position: relative;
    border: 0;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    color: white;
  }
  .btn:active {
    top: 4px;	
  }



  .background-shape { 
    position: absolute; /* Para que esté detrás de la imagen */
    top: 0;
    width: 93%; /* Ajustar al tamaño del contenedor */
    height: 375px; /* Ajustar al tamaño del contenedor */
    background-color: #7b66ff; /* Color de fondo blanco si no se encuentra la imagen */
    background-image: url('../../assets/background.png');
    background-size: auto;
    border-radius: 10%; /* Para que tenga forma circular */
    z-index: -1; 
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }

  .gray {
    background-color: #808080;
  }
  
  .interests, .assistance, .meetings {
    margin-bottom: 20px;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  ion-card {
    margin: 5px;
  }
  
  .create-meeting-button {
    margin-top: 20px;
  }

  .assistance-row {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  .assistance-scroll, .meetings-scroll {
    width: 100%; 
    overflow-x: auto;
    margin-bottom: 20px; 
  }
