.card {
    width: 90%; 
    margin: 20px; 
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1); 
  }
  
  mat-card {
    background-color: #f4f4f4; 
    color: var(--text-color); 
  }
  
  mat-card-title, mat-card-subtitle {
    color: white;
  }

  .header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }