<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-spinner></app-spinner>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        {{ translate('Proximos-eventos') }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="content">
    <div *ngFor="let trend of trends">
      <mat-card class="card" appearance="outlined" (click)="navigateToDetails(trend)">
        <mat-card-header>
          <div mat-card-avatar class="header-image" 
          [ngStyle]="{'background-image': 'url(' + (trend.usu_img ? trend.usu_img : 'assets/profile.jpg') + ')'}">
          </div>
          <mat-card-title class="easy-meet-title">{{ trend.titulo }} </mat-card-title>
          <mat-card-subtitle class="easy-meet-subtitle">{{ trend.usuario }} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="trend.enc_img ? trend.enc_img : 'assets/no_image.png'" alt="Imagen de tendencia"> 
        <mat-card-actions>
          <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;width: 100%;line-height: 0px;">
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
              <p class="easy-meet-title">{{ trend.interes }} </p>
              <br>
              <p class="easy-meet-adress">{{ trend.lugar }} </p>
            </div>
            <div style="display: flex; flex-direction: column; align-items: flex-end;">
              <button mat-button (click)="navigateToDetails(trend)">{{translate('detalles')}}</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="trends.length > 0 && !hasMoreData" style="text-align: center; margin: 20px;">
      <p>Fin de los eventos</p>
    </div>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más tendencias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
