<ion-header [translucent]="true">
  <ion-toolbar>
  
    <ion-title>Busqueda</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-spinner></app-spinner>
  <div class="content-container" *ngIf="!isLoading">
    <h1 class="easy-meet-title">Edad: {{ lowerValue }} - {{ upperValue }}</h1>
    <ion-range 
      aria-label="Dual Knobs Range" 
      [dualKnobs]="true" 
      [(ngModel)]="rangeValues" 
      (ionChange)="updateValues()">
    </ion-range>

    <h2 class="easy-meet-title" >Intereses</h2>
    <div class="intereses">
      <ion-button  class="easy-meet-selectible"
        *ngFor="let interes of intereses" 
        [class.selected]="interes.selected" 
        (click)="interes.selected = !interes.selected">
        {{ interes.name }}
      </ion-button>
    </div>

    <div class="fecha">
      <h2 class="easy-meet-title">Fecha</h2>
      <p (click)="showDatePicker()">{{ selectedDate | date: 'dd MMMM yyyy' }}</p>
      <div class="modal" *ngIf="isDatePickerVisible">
        <ion-datetime 
          [(ngModel)]="selectedDate" 
          (ionChange)="onDateChange($event)"
          displayFormat="MMM DD YYYY"
          pickerFormat="MMM DD YYYY">
        </ion-datetime>
        <ion-button expand="full" (click)="isDatePickerVisible = false">Cerrar</ion-button>
      </div>
    </div>
    <br>
    <div>
      <ion-button expand="full" class="easy-meet-button" (click)="findMeet()">Buscar</ion-button>
    </div>
  </div>
</ion-content>