<ion-header>
  <ion-toolbar>
    <ion-title>
      {{translate('login')}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner></app-spinner> 
  <div class="logo-container">
    <img src="assets/logo_corto.png" width="50%" alt="Logo de la aplicación">
  </div>
  <form (submit)="login()"> 
    <ion-item>
      <ion-label position="floating">{{translate('correo-electronico')}}</ion-label>
      <ion-input type="email"  [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">{{translate('contrasena')}}</ion-label>
      <ion-input type="password" [(ngModel)]="password"  name="password" required></ion-input>
    </ion-item>
    
    <ion-button expand="full" type="submit">{{translate('iniciar')}}</ion-button>
    <div class="easy-meet-container">
      <ion-label>
        <a  (click)="recoverPassword()">{{translate('recuperar-contrasena')}}</a>
      </ion-label>
    </div>
    <div class="divider">o</div>
    
    <div class="social-buttons">
        <ion-button expand="full" color="light" class="social-button" fill="clear" (click)="loginWithGoogle()">
            <img src="assets/google.png" alt="Google">
            {{translate('iniciar-sesion-con-google')}}
        </ion-button>

       <!--  <ion-button expand="full" color="light" class="social-button" fill="clear">
            <img src="assets/facebook.png" alt="Facebook">
        </ion-button> -->
        <ion-button *ngIf="isIOS()" (click)="signInWithApple()" expand="full" color="light" class="social-button" fill="clear">
          <img src="assets/apple.svg" alt="Apple logo">
          {{translate('iniciar-apple')}}</ion-button>
    </div>
    
    <div class="easy-meet-container">
      <ion-label class="easy-meet-subtitle">
        {{translate('aun-no-tienes-una-cuenta')}} <a class="easy-meet-title" (click)="registerUser()">{{translate('crear-cuenta')}}</a>
    </ion-label>
    </div>
    
    <ion-button expand="block" (click)="navigateToUserArea()" *ngIf="isAuthenticated()">
      {{translate('ir-al-area-de-usuario')}}
    </ion-button>
   
    <br>
    <div class="privacy-notice" style="text-align: center;">
      <ion-label>
        {{translate('al-iniciar-sesion-o-registrarte-aceptas')}} 
        <br>
        <a class="easy-meet-title" (click)="openPrivacyModal()">{{translate('el-aviso-de-privacidad')}}</a>
      </ion-label>
    </div>

  </form>

  <ion-modal [isOpen]="isPrivacyModalOpen" (ionModalDidDismiss)="isPrivacyModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{translate('aviso-de-privacidad')}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isPrivacyModalOpen = false">{{translate('cerrar')}}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div style="margin:25px">
        <p>{{translate('contenido-del-aviso-de-privacidad')}}</p>
        <h2>{{translate('contenido-comportamiento-usuario')}}</h2>
        <h3>1. {{translate('prohibiciones-generales')}}</h3>
        <p>{{translate('prohibiciones-generales-descripcion')}}</p>
        <ul>
          <li>{{translate('mensajes-de-odio')}}</li>
          <li>{{translate('acoso-y-amenazas')}}</li>
          <li>{{translate('publicacion-de-contenido-sexual')}}</li>
          <li>{{translate('intento-de-fraude')}}</li>
        </ul>
        <h3>2. {{translate('tolerancia-cero')}}</h3>
        <p>{{translate('tolerancia-cero-descripcion')}}</p>
        <h3>3. {{translate('responsabilidad-usuario')}}</h3>
        <p>{{translate('responsabilidad-usuario-descripcion')}}</p>
        <h3>4. {{translate('denuncia-contenido')}}</h3>
        <p>{{translate('denuncia-contenido-descripcion')}}</p>
        <h3>5. {{translate('aceptacion-terminos')}} </h3>
        <p>{{translate('aceptacion-terminos-descripcion')}}</p>
      </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
