ion-header {
  background-color: #f8f8f8; 
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}


.easy-meet-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}


ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px; 
  line-height: 1.5; 
}

ion-item {
  width: 100%; 
  margin-bottom: 16px; 
}

ion-button {
  color: white; 
}

.divider {
  text-align: center; 
  margin: 16px 0; 
  font-weight: bold; 
}

a {
  color: #6a1b9a; 
  text-decoration: underline; 
}

.social-buttons {
    display: flex;
    justify-content: space-around; 
    margin-top: 16px; 
}

.social-button {
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0; 
}

.social-button img {
    width: 70%; 
    height: auto; 
}