<ion-header>
  <ion-toolbar>
    <ion-title>
      {{translate('login')}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner></app-spinner> 
  <div class="logo-container">
    <img src="assets/logo_corto.png" width="50%" alt="Logo de la aplicación">
  </div>
  <form (submit)="login()"> 
    <ion-item>
      <ion-label position="floating">{{translate('correo-electronico')}}</ion-label>
      <ion-input type="email"  [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">{{translate('contrasena')}}</ion-label>
      <ion-input type="password" [(ngModel)]="password"  name="password" required></ion-input>
    </ion-item>
    
    <ion-button expand="full" type="submit">{{translate('iniciar')}}</ion-button>
    <div class="easy-meet-container">
      <ion-label>
        <a href="#" (click)="recoverPassword()">{{translate('recuperar-contrasena')}}</a>
      </ion-label>
    </div>
    <div class="divider">o</div>
    
    <div class="social-buttons">
        <ion-button expand="full" color="light" class="social-button" fill="clear" (click)="loginWithGoogle()">
            <img src="assets/google.png" alt="Google">
            {{translate('iniciar-sesion-con-google')}}
        </ion-button>

        <ion-button expand="full" color="light" class="social-button" fill="clear">
            <img src="assets/facebook.png" alt="Facebook">
        </ion-button>
    </div>
    
    <div class="easy-meet-container">
      <ion-label class="easy-meet-subtitle">
        {{translate('aun-no-tienes-una-cuenta')}} <a class="easy-meet-title" (click)="registerUser()">{{translate('crear-cuenta')}}</a>
    </ion-label>
    </div>
    
    <ion-button expand="block" (click)="navigateToUserArea()" *ngIf="isAuthenticated()">
      {{translate('ir-al-area-de-usuario')}}
    </ion-button>
  </form>
</ion-content>
