<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="event-background">
  <div class="event-image">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Evento">
  </div>
  <div class="event-details">
    <h2>Degustación de Puros</h2>
    <ion-chip color="primary">Cuauhtémoc, CDMX</ion-chip>
    <ion-chip color="secondary">30 junio 2024</ion-chip>
    <ion-chip color="tertiary">Viajes Y Aventuras</ion-chip>
    <ion-chip color="success">20 a 40 años</ion-chip>
    <ion-chip color="warning">$150.00</ion-chip>
  </div>
  <div class="event-actions">
    <ion-button expand="full" color="danger">Cancelar asistencia</ion-button>
    <ion-button expand="full">Contactar organizador</ion-button>
  </div>
</ion-content>
