<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{translate('crear-reunion')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">{{translate('titulo')}}</ion-label>
      <ion-input [(ngModel)]="titulo" name="titulo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{translate('descripcion')}}</ion-label>
      <ion-textarea [(ngModel)]="descripcion" name="descripcion" required></ion-textarea>
    </ion-item>

    <div class="fecha">
      <h2 class="easy-meet-title">{{translate('fecha')}}</h2>
      <p (click)="showDatePicker()">{{ selectedDate | date: 'dd MMMM yyyy HH:mm ' }}</p>
      <div class="modal" *ngIf="isDatePickerVisible">
        <ion-datetime 
          [(ngModel)]="selectedDate" 
          (ionChange)="onDateChange($event)"
          displayFormat="MMM DD YYYY HH:mm"
          pickerFormat="MMM DD YYYY HH:mm"
          name="fecha">
        </ion-datetime>
        <!-- Botón para aceptar la selección -->
        <ion-button expand="full" (click)="acceptDate()">{{translate('aceptar')}}</ion-button>
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">{{translate('costo')}}</ion-label>
      <ion-input type="number" [(ngModel)]="costo" name="costo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{translate('tipo')}}</ion-label>
      <ion-select [(ngModel)]="tipo" name="tipo" placeholder="{{translate('selecciona-un-tipo')}}" required>
        <ion-select-option value="1">{{translate('comercial')}}</ion-select-option>
        <ion-select-option value="2">{{translate('cultural')}}</ion-select-option>
        <ion-select-option value="3">{{translate('festejo')}}</ion-select-option>
        <ion-select-option value="4">{{translate('recreativo')}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{translate('tema')}}</ion-label>
      <ion-select [(ngModel)]="tema" name="tema" placeholder="{{translate('selecciona-un-tema')}}" required>
        <ion-select-option *ngFor="let interes of intereses" [value]="interes.id">{{interes.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <h1 class="easy-meet-title">{{translate('edad')}}: {{ rangeValues.lower }} - {{ rangeValues.upper }}</h1>
      <ion-range 
        aria-label="Dual Knobs Range" 
        [dualKnobs]="true" 
        [(ngModel)]="rangeValues" 
        name="rangeValues" 
        (ionChange)="updateValues()">
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>{{translate('subir-imagen')}}</ion-label>
      <ion-button fill="outline" slot="end" (click)="subirImagen()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="easy-meet-title">{{translate('direccion')}}</ion-label>
      <br>
      <p (click)="showMapModal()">{{ direccion || translate('selecciona-una-direccion') }}</p>
    </ion-item>

    <ion-button expand="full" color="primary" type="submit">{{translate('registrar')}}</ion-button>
  </form>

  <ion-modal [isOpen]="isMapModalOpen" (ionDidPresent)="onMapModalDidPresent()" (ionDidClose)="isMapModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{translate('seleccionar-ubicacion')}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isMapModalOpen = false">{{translate('cerrar')}}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="floating" class="easy-meet-title" style="margin-bottom: 20px;">{{translate('direccion')}}</ion-label>
          <ion-textarea [(ngModel)]="direccion" placeholder="{{translate('escribe-la-direccion')}}" (ionInput)="buscarDireccion()"></ion-textarea>
        </ion-item>
        <ion-list *ngIf="sugerencias.length > 0">
          <ion-item *ngFor="let sugerencia of sugerencias" (click)="seleccionarSugerencia(sugerencia)">
            {{ sugerencia.description }}
          </ion-item>
        </ion-list>
        <div id="map" style="height: 70vh; width: 100%;"></div>
        <ion-button expand="full" (click)="guardarDireccion()">{{translate('guardar-direccion')}}</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  
</ion-content>
