<ion-header [translucent]="true">
  <app-spinner></app-spinner>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading">
  <div class="details-container">
    <h2 class="trend-title">{{trend.titulo}}</h2>
    <h3 class="trend-name">{{trend.usuario}}</h3>
    <p class="trend-date">{{trendDetails.fecha | date: 'd MMMM yyyy'}} | {{trend.interes}}</p>
    
    <img mat-card-image [src]="trend.enc_img ? trend.enc_img : 'assets/no_image.png'" alt="Imagen de tendencia"> 

    <p>
      {{trendDetails.descripcion}}
    </p>
    <p class="trend-multitarea">{{trendDetails.tipo}}</p>

    <ion-chip color="primary">Edad: {{trendDetails.edad_ini}} - {{trendDetails.edad_fin}} años</ion-chip>
    <ion-chip color="success">Costo: {{trendDetails.costo}}</ion-chip>
    
    <div class="user-card">
      <img [src]="trend.usu_img ? trend.usu_img : 'assets/profile.jpg'" alt="Perfil" class="user-image" />
      <div class="user-info">
        <p class="user-alias">{{trendDetails.usuario}}</p>
        <ion-button fill="outline" (click)="contactar()">Contactar</ion-button>
      </div>
    </div>
  </div>
</ion-content>

<app-spinner *ngIf="isLoading"></app-spinner> 
