<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="details-container">
    <h2 class="trend-title">t12</h2>
    <h3 class="trend-name">Tepetongo</h3>
    <p class="trend-date">30 septiembre 2024 | Arte Y Manualidades</p>
    
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Descripción de la imagen" class="trend-image" />

    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
    <p class="trend-multitarea">Multitarea</p>

    <ion-chip color="primary">Edad: 18 - 60 años</ion-chip>
    <ion-chip color="success">Costo: $150.00</ion-chip>
    
    <div class="user-card">
      <img src="assets/profile.jpg" alt="Perfil" class="user-image" />
      <div class="user-info">
        <p class="user-alias">rayd0w56</p>
        <ion-button fill="outline" (click)="contactar()">Contactar</ion-button>
      </div>
    </div>
  </div>
</ion-content>
