<ion-header [translucent]="true">
  <app-spinner></app-spinner>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{translate('detalles')}}</ion-title>
    <ion-buttons slot="primary" *ngIf="oauth">
      <ion-button id="open-action-sheet">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        <ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content *ngIf="!isLoading">
  <div class="details-container">
    <h2 class="trend-title">{{trend.titulo}}</h2>
    <h3 class="trend-name">{{trend.usuario}}</h3>
    <p class="trend-date">{{trendDetails.fecha | date: 'd MMMM yyyy'}} | {{trend.interes}}</p>
    
    <img mat-card-image [src]="trend.enc_img ? trend.enc_img : 'assets/no_image.png'" alt="Imagen de tendencia"> 

    <p>
      {{trendDetails.descripcion}}
    </p>
    <p class="trend-multitarea">{{trendDetails.tipo}}</p>

    <ion-chip color="primary">{{translate('edad')}}: {{trendDetails.edad_ini}} - {{trendDetails.edad_fin}} {{translate('anios')}}</ion-chip>
    <ion-chip color="success">{{translate('costo')}}: {{trendDetails.costo}}</ion-chip>
<!--     <ion-chip (click)="shareTrend()" color="secondary">{{translate('compartir')}}</ion-chip> -->

    <div class="user-card" *ngIf="oauth">
      <img [src]="trend.usu_img ? trend.usu_img : 'assets/profile.jpg'" alt="Perfil" class="user-image" />
      <div class="user-info">
        <p class="user-alias">{{trend.usuario}}</p>
        <ion-button fill="outline" (click)="contactar()">{{translate('contactar')}}</ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-modal #blockUserModal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{translate('confirmacion')}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeBlockUserModal()">{{translate('cerrar')}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content style="display: flex;text-align: center;margin: 10px;">
     <h1>¡{{translate('advertencia')}}!</h1>
      <p> {{translate('block-user-msg')}}</p>
      <p>{{translate('block-user-msg1')}}</p>
      <ion-button expand="block" color="danger" (click)="confirmBlockUser()">{{translate('bloquear')}}</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #reportPostModal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{translate('report-title')}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeReportPostModal()">{{translate('cerrar')}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p>{{translate('reportar-msg')}}</p>
      <ion-item>
        <ion-label>{{translate('motivo')}}</ion-label>
        <ion-select placeholder="{{translate('selecciona-motivo')}}" [(ngModel)]="reportReason" (ionChange)="onReportTypeChange($event.detail.value)">
          <ion-select-option *ngFor="let type of reportTypes" [value]="type.id">{{type.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{translate('descripcion')}}</ion-label>
        <ion-textarea [(ngModel)]="reportDescription"></ion-textarea>
      </ion-item>
      <ion-footer>
        <ion-button expand="block" color="primary" (click)="submitReport()">{{translate('enviar')}}</ion-button>
        <ion-button expand="block" (click)="closeReportPostModal()">{{translate('cancelar')}}</ion-button>
      </ion-footer>
    </ion-content>
  </ng-template>
</ion-modal>



<app-spinner *ngIf="isLoading"></app-spinner> 
