<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>{{translate('propiedades-de-usuario')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile">
    <div class="profile-picture-container">
      <img [src]="userData.payload.uri_foto ? userData.payload.uri_foto : '../../assets/profile.jpg'" alt="Perfil" class="profile-picture" (click)="fileInput.click()">
      <span class="edit-icon">
        <ion-icon name="brush"></ion-icon>
      </span>
      <input type="file" #fileInput (change)="loadImage($event)" accept="image/*" class="hidden-input">
    </div>
    <h2 class="easy-meet-title">{{userData.payload.nombre}}</h2>
    <p class="easy-meet-subtitle">{{userData.payload.alias}}</p>
    <p class="easy-meet-subtitle">{{userData.payload.telefono}}</p>
  </div>

  <div class="properties-container">
    <hr style="border-top: 1px solid #ccc; width: 100%; margin: 20px 0;">
    <div class="language-selector">
      <ion-label>{{translate('seleccionar-idioma-de-la-aplicacion')}}</ion-label>
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="onLanguageChange($event)">
        <ion-select-option value="es">
          <img src="../../assets/flags/MX - Mexico.png" alt="Español" class="flag-icon"> {{translate('español')}}
        </ion-select-option>
        <ion-select-option value="en">
          <img src="../../assets/flags/US - United States.png" alt="Inglés" class="flag-icon"> {{translate('ingles')}}
        </ion-select-option>
        <ion-select-option value="fr">
          <img src="../../assets/flags/FR - France.png" alt="Francés" class="flag-icon"> {{translate('frances')}}
        </ion-select-option>
        <ion-select-option value="de">
            <img src="../../assets/flags/DE - Germany.png" alt="Alemán" class="flag-icon"> {{translate('aleman')}}
        </ion-select-option>
      </ion-select>
    </div>
  </div>

  <ion-button expand="full" color="primary" class="create-meeting-button" (click)="acceptChanges()">{{translate('aceptar')}}</ion-button>

  <ion-modal [isOpen]="isCropperOpen" (didDismiss)="isCropperOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="isCropperOpen = false">{{translate('cancelar')}}</ion-button>
          </ion-buttons>
          <ion-title>{{translate('recortar-imagen')}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="crop-container">
          <div class="crop-area">
            <div class="crop-frame"></div>
            <canvas #canvas 
              (touchstart)="startMoving($event)"
              (touchmove)="moveImage($event)"
              (touchend)="stopMoving()"
              (mousedown)="startMoving($event)"
              (mousemove)="moveImage($event)"
              (mouseup)="stopMoving()"
              (mouseleave)="stopMoving()">
            </canvas>
          </div>
          <div class="crop-controls">
            <ion-label>{{translate('agrandar-o-reducir-imagen')}}</ion-label>
            <ion-range min="100" max="200" [(ngModel)]="zoomLevel" (ionChange)="updateZoom()">
              <ion-label slot="start">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-label>
              <ion-label slot="end">
                <ion-icon name="add-outline"></ion-icon>
              </ion-label>
            </ion-range>
            <ion-label>{{translate('rotar-imagen')}}</ion-label>
            <ion-range min="0" max="360" [(ngModel)]="rotation" (ionChange)="drawImage()">
              <ion-label slot="start">0°</ion-label>
              <ion-label slot="end">360°</ion-label>
            </ion-range>
            
            
           
          </div>
          <ion-button expand="full" (click)="cropAndSave()">
            {{translate('aceptar')}}
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
